    p {
    font-size: 4vmax;            
    margin: 0;
    display: flex;
    position: absolute;
    }          
    #find {
    opacity: 50%;
    font-size: 9.5vmax;                      
    }   
    #box {
        position: relative; 
        left: 140px; 
        top: 180px;             
        width: 1190px; 
        height: 420px; 
        border-radius: 25px;
        transition: 6s;        
    }
    #waldo-emoji {
        left: 5vmin;
        top: 4.5vmin;
    }
    #magnifying-background {
        position: absolute; 
        background-color: whitesmoke;
        z-index: -1; 
        border-radius: 50px; 
        left: 3.5vmin; 
        top: 4.2vmin; 
        width: 90px; 
        height: 90px;
    }

    #meter3 {
    position: fixed;
    left: 13vmin;
    top: 29vmin;
    width: 8.5vmin;
    height: 67%;
    background-color: lightyellow;
    overflow: hidden;
    border-radius: 25px;
    border: 3px solid black;            
    }   
    #countdown {    
        height: 100%;
        width: 100%;
        bottom: 0;
        position: absolute;        
        background-color: #ecbb19;
        animation: progressbar 6s ease-in-out;
        animation-duration: 60s;
        animation-fill-mode: forwards;    
        --height0: 0%;
        --height100: 100%;
    }             
    @keyframes progressbar {
        from {
        height: var(--height100);
        }
        to {
        height: var(--height0);
        } 
    }

    #meter2 {
        position: fixed;
        left: 3vmin;
        top: 29vmin;
        width: 8.5vmin;
        height: 67%;
        background-color: lightyellow;
        overflow: hidden;
        border-radius: 25px;
        border: 3px solid black;  
        transition: 0.5s;            
    }   
    #stress{
        display: block;
        height: 0%;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #4c07bb;                
        transition: 2s;                
    }      
    #meter {
        position: fixed;
        left: 30vmin;
        top: 22vmin;
        width: 175vmin;
        height: 5vmin;
        background-color: lightyellow;
        overflow: hidden;
        border-radius: 25px;
        border: 3px solid black;            
    }   
    #progress {
        display: block;
        height: 100%;
        position: absolute;         
        background-color: #d6185e;                      
        width: 0%;
        transition: 1s;
    }                
    #mySidenav {
        height: 10%; 
        width: 50%; 
        position: fixed; 
        z-index: 1; 
        top: 0%; 
        left: 28%; 
        border: 2px solid black;
        border-top: none;       
        border-radius: 0px 0px 6px 6px;                        
        transition: 0.5s;            
        background-color: lightyellow; 
        z-index: 5;    
      }     
    .buttons {        
        cursor: pointer;                              
        font-size: 200%;   
        top: 10%;  
        transition: 0.5s;  
        position: absolute;   
        top: 0%;
        font-size: 3vmax; 
        height: 0vmin;       
        width: 0vmin;
    }  
    #animals {        
        left: 8%;                              
    } 
    #faces {        
        left: 21%;                                
    }
    #clothes {                
        left: 34%;     
        top: 7%;    
        font-size: 2.8vmax;               
    }
    #food {                
        left: 47%;        
    }
    #travel {
        left: 60%;  
        top: 6%;          
        font-size: 2.8vmax;
    }
    #mystery {
        left: 73%;               
    }

    #arrow {
        position: absolute;        
        left: 35%;
        top: 20%; 
        transition: 0.5s;       
    }
    #menu-btn {        
        height: 100%;                    
        width: 10%;
        position: absolute;
        top: 0%;
        left: 90%;
        z-index: 3;        
        background-color: lightslategray;
        border: 2px solid black;
        border-radius: 0px 0px 6px 0px;        
        border-top: none;
        transition: 0.5s;  
        cursor: pointer;
        z-index: 5;      
    }

    #ceno {
        right: 10vmin;
        top: 0vmin;
        float: right;
        border-radius: 0vmin 0vmin 1vmin 1vmin;
        width: 30vmin;        
        height: 10.3vmin;
        position: absolute;
        border: 2px solid black;
        border-top: none;        
    }

    #mouse-box {
        width: 214vmin;
        height: 96vmin;
        border: 3px solid black; 
        z-index: 100000;  
        border-radius: 0.7vmin;                    
    }

    #my-canvas {       
        left: 0vmin;
        top: 0vmin;                
        z-index: 5000;
    }
   
                                                     