    #mySidenav {
        height: 7.5vmin; 
        position: fixed; 
        top: 1vmin; 
        left: calc(76.35vw - 6.35vmin - 40vw + 22vw );
        width: calc(40vw);
        border: 1vmin solid black;
        border-radius: 0px 0px 6px 6px;                        
        transition: 0.5s;            
        background-color: lightyellow; 
        z-index: 5;    
      } 
    #ceno {
        left: 22vw;
        border-radius: 0vmin 0vmin 0vmin 1vmin;
        top: 1vmin;
        width: auto;        
        height: 7.5vmin;
        position: fixed;
        border: 1vmin solid black;
                transition: 0.5s; 
      
        z-index: -10;
    }

    .mouse {
        position: fixed;
        width: calc(100vw - 4vmin);
        height: calc(100vh - 4vmin);
        margin: 1vmin;
        border: 1vmin solid black; 
        border-radius: 0.7vmin;
        z-index: -8;          
    }
    p {
        font-size: 4vmax;            
        margin: 0;
        display: flex;
        position: absolute;
    }          
    #find {
        opacity: 50%;
        font-size: 9vmax;
        left: 0vmin;                      
        top: 0vmin;
    }   
    #box {
        position: fixed; 
        left: 22vw;     
        width: calc(76.35vw - 6.35vmin);
        top: 15.5vmin; 
        height: calc(100vh - 18.5vmin); 
        border-radius: 1vmin 0vmin 0vmin 0vmin;
        transition: 0.5s; 
        z-index: 5;    
        border: 1vmin solid black;
    }
    #waldo-emoji {
        left: 40%;
        top: 40%;
    }
    #magnifying-background {
        position: absolute; 
        background-color: whitesmoke;
        z-index: -10; 
        border-radius: 10vmax; 
        left: 0vmin; 
        top: 1.3vmin; 
        width: 125%; 
        height: 125%;        
        margin: 2.7vmin 1.5vmin 2vmin 3.3vmin;
    }

    .buttons {        
        cursor: pointer; 
        transition: 0.1s;  
        position: absolute;   
        top: -1vmin;
        font-size: 6.5vmin; 
        z-index: 10;
    }  
    #animals {        
        left: 0%;                              
    } 
    #faces {        
        left: 18%;                                
    }
    #clothes {                
        left: 36%;                
    }
    #food {                
        left: 54%;        
    }
    #travel {
        left: 72%;      
    }
    #mystery {
        left: 90%;               
    }
/*
    #arrow {        
        left: 25%; 
        transition: 0.5s;       
    }

    #menu-btn {        
        height: 100%;                    
        width: 10%;
        position: absolute;
        top: 0%;
        left: 90%;  
        background-color: lightslategray;
        border: 1vmin solid black;
        transition: 0.5s;  
        cursor: pointer;
        z-index: 5;      
    }*/
    #meter { /* progress */
        position: fixed;
        left: 22vw;     
        top: 9.4vmin;
        width: calc(76.35vw - 6.35vmin);
        height: 5.6vmin;
        background-color: lightyellow;
        overflow: hidden;
        border-radius: 1vmin;
        border: 1vmin solid black;
        transition: 0.5s;
        z-index: 5;             
    }   
    #progress {
        /*display: block;        */
        height: 6vmin;
        position: absolute;         
        background-color: #d6185e;                      
        width: 0%;
        transition: 1s;
    }  
    .meter3 { /* countdown */
        position: fixed;
        left: calc(98.7vw - 6vmin);
        top: 1vmin;
        width: 5.6vmin;
        height: calc(100vh - 4vmin);
        background-color: lightyellow;
        overflow: hidden;
        border-radius: 1vmin;
        border: 1vmin solid black; 
        z-index: 3;           
    }   
    #countdown {    
        height: 100%;
        width: 100%;
        bottom: 0;
        position: absolute;        
        background-color: #ecbb19;
        animation: progressbar 6s ease-in-out;
        animation-duration: 60s;
        animation-fill-mode: forwards;    
        --height0: 0%;
        --height100: 100%;
    }             
    @keyframes progressbar {
        from {
        height: var(--height100);
        }
        to {
        height: var(--height0);
        } 
    }

    #meter2 { /* stress */
        position: fixed;
        left: 3vmin;
        top: 29vmin;
        width: 8.5vmin;
        height: 67%;
        background-color: lightyellow;
        overflow: hidden;
        border-radius: 25px;
        border: 3px solid black;  
        transition: 0.5s;            
    }   
    #stress{
        display: block;
        height: 0%;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #4c07bb;                
        transition: 2s;                
    }                        
    .container {
        width: 5vmax;
        height: 5vmax;
        left: 3vmax;
        top: 3vmax;
    }


    #my-canvas {       
        left: 0vmin;
        top: 0vmin;                
        z-index: 5000;
    }
   
                                                     